* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    /* background-color: #2d3436; */
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    min-height: 100rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 12.5rem;
    overflow-y: hidden;
}

.calculator {
    text-align: center;
    width: 31.25rem;
    height: 70%;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    background-color: rgb(69, 68, 68);
    /* transform: translate(-50%, -50%); */
    padding: 1.25rem;
    border-radius: 1.25rem;
    box-shadow: 0.063rem 0.063rem 1.25rem #2d3436;
}

h1 {
    font-size: 1.875rem;
    font-weight: 600;
    color: #000000;
}

div .text {
    text-align: left;
    margin-left: 8.125rem;
    color: #000000;
    margin-top: 1.563rem;
}

#weight, #height{
    font-family: inherit;
    color: black;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 200;
    outline: none;
    border: none;
    background: none;
    border-bottom: 0.063rem solid #000000;
    width: 12.5rem;
}

#weight:focus, #height:focus{
    border-bottom: 0.125rem solid #000000;
    width: 18.75rem;
    transition: 0.4s;
    text-align: center;
}

#btn {
    font-family: inherit;
    margin-top: 1.25rem;
    border: none;
    color: rgb(207, 205, 205);
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    width: 9.375rem;
    padding: 0.625rem;
    border-radius: 1.875rem;
    outline: none;
    cursor: pointer;
    
}

.info{
    font-family: inherit;
    margin-top: 1.25rem;
    font-size: 0.938rem;
    color: #000000;
}

#heading, #output, #message{
    font-family: inherit;
    font-size: 0.938rem;
    color: #000000;
}

#heading{
    font-size: 1.25rem;
    font-weight: 500;
}

@media only screen and (max-width: 300px) {
    body {
        margin-top: 8.9rem;
    }
    
    div .text {
        text-align: left;
        margin-left: 1.125rem;
    }
    
    #weight:focus, #height:focus{
        border-bottom: 0.125rem solid #000000;
        width: 15.75rem;
        transition: 0.4s;
        text-align: center;
    }
} 